
a:visited {
   color: inherit;
}
a:hover {
   color: #3d37ff;
}
.main {
   display: flex;
   flex-direction: column;
}
@media (min-width: 769px) {
    .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

.hello {
   display: grid;
   text-align: center;
   grid-row: span 2;
   background-color: #FFFBF2;
   align-items: center;
   font-size: 4rem;
   color: #1400FF;
}
.photo {
   width: 100%;
}
.photo > img {
  object-fit: contain;
  width: 100%;
}
.bio {
   align-self: center;
   padding: 2em;
}
.bio > h3 {
   font-size: 2rem;
}
.bio > h3 > span {
   color: #1400FF;
}
.github-icon {
   fill: #1400FF;
   width: 2em;
}
